<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Мои избранные</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
</head>
<body class="bg-dark text-white">

<div class="container py-5">
    <h1 class="text-center mb-4">⭐️ Избранные новости</h1>
    <hr class="text-white">
    <a href="{% url 'home' %}" class="btn btn-outline-light mb-4">← Назад на главную</a>

    {% if favorites %}
    <div class="row g-4">
        {% for fav in favorites %}
        <div class="col-md-4">
            <div class="card bg-secondary text-white h-100">
                {% if fav.news.news_photo %}
                <img src="{{ fav.news.news_photo.url }}" class="card-img-top" alt="Фото">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ fav.news.name }}</h5>
                    <p class="card-text">{{ fav.news.text|truncatechars:100 }}</p>
                    <a href="{% url 'news_page' fav.news.id %}" class="btn btn-light">Читать далее</a>
                    <a href="{% url 'remove_favorite' fav.news.id %}" class="btn btn-danger mt-2">Удалить</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
        <p>У вас пока нет избранных новостей.</p>
    {% endif %}
</div>

</body>
</html>